
* {
    margin: 0;
}

#container {
    width: 100%;
    background-color: white;
}

header {
    width: 100%;
    height: 200px;
    background-color: white;
    position: relative;
}

#div1 {
    width: 100%;
    height: 100px;
    background-color: chartreuse;
}

#green {
  width: 100%;
  height: 54px;
  background-color: green;
  padding-top: 10px;
  text-align: center;
}

#green p {
    color: white;
}

#green a {
    text-decoration: none;
    color: #E2D300;
}

#black {
    width: 100%;
    height: 45px;
    background-color: black;
    margin-top: 1.5px;
    display: flex;
    justify-content: space-between;
}

#black1 {
    width: 20%;
    height: 23px;
    color: white;
    font-size: 12px;
    margin: 10px 0 0 150px;
}

#black2 {
    width: 20%;
    height: 22px;
    margin: 2px 0 0 0;
}

#div2 {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9F9F9F;
}

#white1 {
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin:25px 0 0 80px;
}

#white1 label {
    margin-top: 10px;
    color: #BDD5C1;
    font-size: 11.5px;
}

#white1 span {
    letter-spacing: 6px;
    color: #BDD5C1;
    font-size: 10px;
}

#white2 {
    width: 50%;
    height: 50px;
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
    margin-top: 35px;
}

#white2 a {
    text-decoration: none;
}

.white2a {
    color: #B5CE4E;
}

.white2b {
    color: #89B8E5;
}

#white2 i {
    font-size: 10px;
    margin-top: 4px;
}

#bar {
    width: 70%;
    height: 450px;
    position: absolute;
    margin: 30px 0 0 -80px;
    display: none;
}

#barrs {
    font-size: 20px;
    color: #CACACA;
}

#mob-bar {
   width: 100%;
   height: 357px;
   background-color: #F6F6F6;
   position: absolute;
   margin: 100px 0 0 -360px;
   display: none; 
}

#mob-bar #one, #mob-bar #two, #mob-bar #three, #mob-bar #four, #mob-bar #five, #mob-bar #six, #mob-bar #seven {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #9F9F9F;
    padding-top: 15px;
}

#mob-bar #one a, #mob-bar #two a, #mob-bar #three a, #mob-bar #four a, #mob-bar #five a, #mob-bar #six a, #mob-bar #seven a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

#image {
    width: 100%;
    height: 430px;
    margin-bottom: 50px;
}

#image img {
    width: 100%;
}

#news {
    width: 80%;
    height: 2000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#news1, #news2, #news3 {
    width: 31%;
    height: 2000px;
}

.news {
    width: 100%;
    height: 490px;
    border: 1px solid #E0DEDE;
    margin-bottom: 25.30px;
    box-shadow: 0 0 3px 2px #E0DEDE;
}

#news1 #divthree {
    height: 480px;
}

#news2 #divone {
    height: 400px;
}

#news2 #divtwo {
    height: 490px;
}

#news2 #divthree {
    height: 500px;
}

.div-one p {
    font-size: 18px;
    color: #747474;
    margin-bottom: 10px;
}

.div-one h5 {
    color: #747474;
    margin-bottom: 20px;
}

.news .div-one {
    border-bottom: 1px solid #E0DEDE;
    margin-bottom: 2.5px;
}

.news .div-two {
    border-top: 1px solid #E0DEDE;
}

.div-two p {
    color: #747474;
    margin: 17px 0;
    line-height: 25px;
}

.div-two a {
    font-size: 13px;
    text-decoration: none;
    color: #747474;
}

.news .div-one, .news .div-two {
    padding: 20px 20px;
}

#corp {
    width: 100%;
    height: 400px;
    background-color: #8BC34A;
    margin-top: 200px;
}

#corp #div1 {
    width: 100%;
    height: 10px;
    background-color: #8BC34A;
}

#corp #div2 {
    width: 100%;
    height: 360px;
    background-color: #D8D8D8;
}

#coat-of-arm {
    width: 20%;
    height: 300px;
    margin: 50px 0 0 180px;
}

#div2  p {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
}

#div3 {
    width: 100%;
    height: 50px;
    background-color: #235E27;
}

#copy p {
    font-size: 12px;
    color: white;
    width: 35%;
    margin-left: 180px;
    padding-top: 20px;
}