* {
    margin: 0;
}

#container {
    width: 100%;
    background-color: white;
}

header {
    width: 100%;
    height: 200px;
    background-color: white;
    position: relative;
}

#div1 {
    width: 100%;
    height: 100px;
    background-color: chartreuse;
}

#green {
  width: 100%;
  height: 54px;
  background-color: green;
  padding-top: 10px;
  text-align: center;
}

#green p {
    color: white;
}

#green a {
    text-decoration: none;
    color: #E2D300;
}

#black {
    width: 100%;
    height: 45px;
    background-color: black;
    margin-top: 1.5px;
    display: flex;
    justify-content: space-between;
}

#black1 {
    width: 20%;
    height: 23px;
    color: white;
    font-size: 12px;
    margin: 10px 0 0 150px;
}

#black2 {
    width: 20%;
    height: 22px;
    margin: 2px 0 0 0;
}

#div2 {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9F9F9F;
}

#white1 {
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin:25px 0 0 80px;
}

#white1 label {
    margin-top: 10px;
    color: #BDD5C1;
    font-size: 11.5px;
}

#white1 span {
    letter-spacing: 6px;
    color: #BDD5C1;
    font-size: 10px;
}

#white2 {
    width: 50%;
    height: 50px;
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
    margin-top: 35px;
}

#white2 a {
    text-decoration: none;
}

.white2a {
    color: #B5CE4E;
}

.white2b {
    color: #89B8E5;
}

#white2 i {
    font-size: 10px;
    margin-top: 4px;
}

#bar {
    width: 70%;
    height: 450px;
    position: absolute;
    margin: 30px 0 0 -80px;
    display: none;
}

#barrs {
    font-size: 20px;
    color: #CACACA;
}

#mob-bar {
   width: 100%;
   height: 357px;
   background-color: #F6F6F6;
   position: absolute;
   margin: 100px 0 0 -360px;
   display: none; 
}

#mob-bar #one, #mob-bar #two, #mob-bar #three, #mob-bar #four, #mob-bar #five, #mob-bar #six, #mob-bar #seven {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #9F9F9F;
    padding-top: 15px;
}

#mob-bar #one a, #mob-bar #two a, #mob-bar #three a, #mob-bar #four a, #mob-bar #five a, #mob-bar #six a, #mob-bar #seven a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

.resource {
    width: 100%;
    height: 80px;
    background-color: #F6F6F6;
    box-shadow: 0 0 3px 2px #E5E5E5;
    display: flex;
    justify-content: space-between;
}

#resource {
    width: 10%;
    height: 40px;
    margin: 30px 140px;
    text-align: start;
    font-size: 20px;
    color: #333333;
}

.search {
    width: 15%;
    height: 30px;
    margin: 20px 150px;
    display: flex;
    justify-content: space-between;
}

#search {
    width: 80%;
    height: 38px;
    border: 1px solid #E5E5E5;
    background-color: white;
}

input {
    width: 89%;
    height: 38px;
    border: none;
}

#button {
    width: 19%;
    height: 40px;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 13px;
}

#button i {
    margin-top: 10px;
}

#procedure {
    width: 49%;
    height: 630px;
    display: flex;
    justify-content: space-between;
    margin: 70px 0 0 145px;
}

#company {
    width: 31%;
    height: 780px;
}

#company p {
    font-size: 45px;
    font-weight: lighter;
    color: #2196F3;
    margin-bottom: 10px;
}



#company #div1i button, #company #div2i button, #company #div3 button{
    width: 95%;
    height: 35px;
    background-color: #0E4CAD;
    border-radius: 30px;
    border: none;
    margin: 10px 0 30px 0;
}


#company #div3 button {
    width: 65%;
}

#company button a {
    text-decoration: none;
    color: white;
}

#service {
    width: 62%;
    height: 700px;
}

#service #text p {
    font-size: 40px;
    font-weight: bold;
}

#service button {
    width: 30%;
    height: 35px;
    background-color: #C1E1FC;
    border-radius: 30px;
    border: none;
    margin-top: 15px;
}

#service button a {
    text-decoration: none;
}

.text #text1 p {
    font-size: 15px;
    font-weight: lighter;
    color: #7474A1;
    margin-top: 30px;
}

.text #text2 p {
    font-size: 18px;
    text-decoration: underline black;
    color: #FF6600;
}

.text #text3 p {
    line-height: 39px;
    color: #7474A1;
    text-decoration: none;
}

#app {
    width: 28%;
    height: 900px;
    margin: 0 0 0 145px;
}

#app p {
    font-size: 45px;
    font-weight: lighter;
    color: #2196F3;
}

#app #ann {
    margin-top: 70px;
}

#app #ann p {
    font-size: 15px;
    color: #333333;
    line-height: 30px;
}

#app #ann2 p {
    line-height: 38px;
}

#rect {
    margin-top: 100px;
    width: 72%;
    height: 50px;
    margin-left: 142px;
}

#rect #rect1, #rect #rect2 {
    width: 100%;
    height: 50%;
}

#rect #rect1 {
    background-color: #EEEEEE;
}

#rect #rect2 {
    background-color: #D7E4F7;
}

#corp {
    width: 100%;
    height: 400px;
    background-color: #8BC34A;
}

#corp #div1 {
    width: 100%;
    height: 10px;
    margin-top: 70px;
    background-color: #8BC34A;
}

#corp #div2 {
    width: 100%;
    height: 360px;
    background-color: #D8D8D8;
}

#coat-of-arm {
    width: 20%;
    height: 300px;
    margin: 40px 0 0 180px;
} 

#div2  p {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
}

#div3i {
    width: 100%;
    height: 50px;
    background-color: #235E27;
}

#copy p {
    font-size: 12px;
    color: white;
    width: 35%;
    margin-left: 180px;
    padding-top: 20px;
}

.bold {
    font-weight: 700;
}
